*{outline: solid red 1px;}

.stick-nav{
    position: relative;
    display: block;
    width: 30px;
    height: 40px;
    border: 0;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .26em;
    line-height: 12px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    color: red;
    transition: .3s ease-out;
    outline: none;
    cursor: pointer;
}