
@import 'partials/personal.scss';



body{
    margin: 0;
    
}
@mixin section{
    margin-top: 80px;
    margin-bottom: 80px;
}
@mixin titulos{
    font-family: $letra_titulos;
    font-size: 28px;
    font-weight: 300;
    line-height: 90px;
    color: $color_header;
}

@mixin letra_contenido{
    font-family: $letra_contenido;
    font-size: 22px;
    background-color: $color_background;
    color: #fff;
    padding: 8px 10px 8px 10px;
}
/*-----------------------------HEADER*/

.container-nav {
    font-family: $letra_titulos;
    font-size: 18px;
    background-color:#fff;
}
.navbar-fixed-top {
    position: fixed;
    padding-left: 30%;
    z-index: 10;
}
.navbar-inverse {
    background-color:black;
    border-color: $color_fondo !important;
    color: #fff !important;
}
.nav li a {
}

/*-----------------------------TYPE*/


h3{
    font-size: 5em;
    color: #fff;
    text-transform: uppercase;
    font-family: $letra_titulos;
}

span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/*-------------------------------HERO*/
@mixin content_hero{
    width: 100%;
    height: 650px;
}
.section_1{
    @include content_hero;
    border: 0;
    
    .hero-img{
        @include content_hero;
        img{
            @include content_hero;
        }
    }
    .hero-content{
        position: absolute;
        z-index: 2;
        top: 20%;
        left: 47%;
    }
}

/*-----------------ACERCA DE MI*/


.section_2{
    @include section;
    h2{
        @include titulos;
    }
    .content{
        @include letra_contenido;
        padding: 23px;
        
    }
       
}


/*-----------------HABILIDADES*/

.section_3{
    @include section;
    h2{
        @include titulos;
    }
    
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/*-----------------PROYECTOS*/
.section_4{
    @include section;
}
.danza{
    height: 200px;
}


/*-----------------CONTACTAME*/

.section_5{
    @include section;
    .linea_oscura{
        background-color: $color_header;
        padding: 20px;
        margin: 0;
        position: relative;
        right: 60px;
        width: 1250px;
        
    }
    h2{
        @include titulos;
    }
    img{
        margin: 20px 20px;
    }
    .btn{
        font-family: $letra_titulos;
        padding: 20px;
        margin-top: 20px;
        margin-left: 120px;
    
        &.btn-info{
            background-color: black;
       }
    }
}
/*-----------------FOOTER*/
footer{
    background-color: $color_header;
    padding: 10px;
    
    small{
        color: #fff;
        font-family: $letra_titulos;
        position: relative;
        right: 0;
        
    }
}
























