
@import 'partials/personal.scss';

*{outline: solid red 1px};
body{
    margin: 0;
    
}
@mixin titulos{
    font-family: $letra_titulos;
    font-size: 28px;
    font-weight: 300;
    line-height: 90px;
    color: $color_header;
}

@mixin letra_contenido{
    font-family: $letra_contenido;
    font-size: 22px;
    background-color: $color_background;
    color: #fff;
    padding: 8px 10px 8px 10px;
}
/*---------------------------------------------------HEADER*/
header{
    
}
.navbar{
    margin: 0;
    background-color: white;
    
    .navbar-toggle{
        margin-right: 15px;
        margin-top: 25px;
    }
    .navbar-brand{
        background-color:$color_header;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
    }
    span{
        @include titulos;
        padding: 0;
        margin-left: 15px;
    }
    .navbar-nav{
        margin-top: 20px;
        li{
            font-size: 12px;
            font-family: $letra_titulos;
            font-weight: 300;
            line-height: 90px;
            color: $color_letra;
        }
    }
    .navbar-header{
        background-color: white;
    }
}



/*---------------------------------------------------HERO*/
.section_1{
    width: 100%;
    height: auto;
    border: 0;
    
    .hero-img{
        width: 100%;
        height: auto;
        
        img{
            width: 100%;
            height: auto;
        }
    }
    .hero-content{
        position: absolute;
        z-index: 2;
        top: 20%;
        left: 7%;
    }
}

/*-----------------ACERCA DE MI*/


.section_2{
    h2{
        @include titulos;
    }
    .content{
        @include letra_contenido;
        
    }
    .btn{
        font-family: $letra_titulos;
        padding: 20px;
        margin-top: 20px;
        margin-left: 120px;
    
        &.btn-info{
            background-color: black;
       }   
    }
}


/*-----------------HABILIDADES*/
.section_3{
    h2{
        @include titulos;
    }
    .hab1{
        width: 180px; 
        height: 180px; 
        border-radius: 100%; 
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        background: url(../imagenes/html.png) no-repeat; 
        background-position: center center;
        background-size: 150px;

    }
}
/*-----------------PROYECTOS*/

.danza{
    height: 200px;
}


/*-----------------CONTACTAME*/

.section_5{
    .linea_oscura{
        background-color: $color_header;
        padding: 20px;
        margin: 0;
        position: relative;
        right: 60px;
        width: 1250px;
        
    }
    h2{
        @include titulos;
    }
    img{
        margin: 20px 20px;
    }
}
/*-----------------FOOTER*/
footer{
    background-color: $color_header;
    padding: 10px;
    
    small{
        color: #fff;
        font-family: $letra_titulos;
        position: relative;
        right: 0;
        
    }
}
























