/*-------------------------------HEADER*/
* {
  outline: 1px solid red; }

body {
  margin: 0; }

/*-----------------------------HEADER*/
header {
  margin: 0;
  padding: 0; }

.nav {
  border-bottom: solid 2px black;
  margin-right: 15px; }

.container-nav {
  font-family: "Julius Sans One", sans-serif;
  font-size: 18px;
  background-color: #fff;
  border-bottom: solid 1px black; }

.navbar-brand {
  background-color: black;
  margin: 0;
  color: white; }

.navbar-nav a {
  color: #222222; }

.navbar button {
  border: solid 1px #797979; }

.navbar-header span {
  background-color: #222222; }

.nav li a:hover {
  background-color: #BCC2BF; }

/*-----------------------------TYPE*/
h3 {
  font-size: 5em;
  color: #fff;
  text-transform: uppercase;
  font-family: "Julius Sans One", sans-serif;
  text-align: right;
  padding: 150px 0; }

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite; }

@keyframes caret {
  50% {
    border-color: transparent; } }
/*-------------------------------HERO*/
.section_1 {
  width: 100%;
  height: 640px;
  color: #fff;
  background: url(../imagenes/gio2.jpeg) no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center; }
  .section_1 .dark {
    width: 100%;
    height: 640px;
    background: rgba(0, 0, 0, 0.56); }

/*-----------------ACERCA DE MI*/
.section_2 {
  margin-top: 70px;
  margin-bottom: 70px; }
  .section_2 h2 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 90px;
    color: #222222;
    margin-top: 80px;
    margin-bottom: 20px; }
  .section_2 .content {
    font-family: "Imprima", sans-serif;
    font-size: 18px;
    background-color: #1C1C1C;
    color: #fff;
    padding: 23px;
    margin-top: 16px; }

/*-----------------HABILIDADES*/
.section_3 {
  margin-top: 70px;
  margin-bottom: 70px; }
  .section_3 h2 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 90px;
    color: #222222;
    margin-top: 80px;
    margin-bottom: 20px; }
  .section_3 .skill .skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color; }
  .section_3 .skill .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .section_3 .skill .skillbar-title span {
    font-family: "Julius Sans One", sans-serif;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    .section_3 .skill .skillbar-title span i {
      padding-right: 7px; }
  .section_3 .skill .skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

/*-----------------PROYECTOS*/
.section_4 {
  margin-top: 70px;
  margin-bottom: 70px; }
  .section_4 h3 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 90px;
    color: #222222;
    margin-top: 80px;
    margin-bottom: 20px; }
  .section_4 .ver {
    background-color: #222222;
    padding: 5px 20px 5px 20px;
    color: #fff;
    margin-bottom: 10px; }
  .section_4 .space {
    padding: 10px; }

.danza {
  height: 200px; }

/*-----------------CONTACTAME*/
.section_5 {
  margin-top: 70px; }
  .section_5 .linea_oscura {
    background-color: #222222;
    padding: 20px;
    margin: 0;
    position: relative;
    right: 60px;
    width: 1250px; }
  .section_5 h2 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 90px;
    color: #222222;
    margin-top: 80px;
    margin-bottom: 20px; }
  .section_5 img {
    margin: 20px 20px; }
  .section_5 .btn {
    font-family: "Julius Sans One", sans-serif;
    padding: 20px;
    margin-top: 20px;
    margin-left: 120px; }
    .section_5 .btn.btn-info {
      background-color: black; }

/*-----------------FOOTER*/
footer {
  background-color: #222222;
  padding: 10px; }
  footer small {
    color: #fff;
    font-family: "Julius Sans One", sans-serif;
    position: relative;
    right: 0; }

/*# sourceMappingURL=main.css.map */
