$letra_titulos:'Julius Sans One', sans-serif;
$letra_subtitulos:'Cherry Cream Soda', cursive;
$letra_contenido:'Dosis', sans-serif;;

/*-------------------------------HEADER*/
$color_header: rgb(34, 34, 34);
$color_letra:  rgb(91, 91, 91);

$color_background: #1C1C1C;

$color_back:#F93E68;
$color_face:#2FBB9B;
