$letra_titulos:'Love Ya Like A Sister', cursive;
$letra_subtitulos:'Cherry Cream Soda', cursive;
$letra_contenido:'Carter One' , cursive;




$color_titulos: #e3f6f3;
$color_fondo: #a8a39d;
$color_semifondo: #e2ddd9;

$color_back: #f8f1e9;
$color_face: #a8a39d;
