$letra_titulos:'Love Ya Like A Sister', cursive;
$letra_subtitulos:'Cherry Cream Soda', cursive;
$letra_contenido:'Carter One' , cursive;




$color_titulos: #e3f6f3;
$color_fondo: #373E3A;
$color_semifondo: #3EF9CF;

$color_back:#F93E68;
$color_face:#2FBB9B;
